* {
    box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px;
    text-align: center;
    border-radius: 15%;
    
    /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.container {
    position: relative;
    width: 400px;
    height: 200px;
    background-color: #ddd;
    border-radius: 15%
    
}

.ball {
    position: absolute;
    width: 50px;
    height: 50px;
    margin-right: 50%;
    border-radius: 25px;
    background-color: red;
    animation: moveBall 2s linear infinite;
}
.final_result{
    text-align: center;
    align-items: center;
}

@keyframes moveBall {
    0% {
        left: 0;
    }

    100% {
        left: 350px;
    }
}